.mega-menu {
  position: static;
}

.mega-menu__content {
  background-color: rgb(var(--color-background));
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 100%;
  display: flex;
  overflow: hidden;
}

.header-wrapper--border-bottom .mega-menu__content {
  border-top: 0;
}

.js .mega-menu__content {
  opacity: 0;
  transform: translateY(-1.5rem);
}

.mega-menu[open] .mega-menu__content {
  opacity: 1;
  transform: translateY(0);
}

.mega-menu__list {
  display: flex;
  gap: 1.6rem;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  list-style: none;
}

.mega-menu__link {
  color: rgba(var(--color-foreground), 0.75);
  display: block;
  line-height: normal;
  padding: 1.6rem 2.4rem;
  text-decoration: none;
  transition: all var(--duration-short) ease;
  word-wrap: break-word;
  border: 1px solid rgb(0, 0, 0, 0.1);
  font-size: 1.2rem;
  max-height: 4.6rem;
  background-color: #ffffff;
}

.mega-menu__link--level-2 {
  font-weight: bold;
}

.header--top-center .mega-menu__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.6rem;
  flex-direction: row;
}

.header--top-center .mega-menu__list > li {
  width: 16%;
  padding-right: 2.4rem;
}

.mega-menu__link.active {
  font-weight: 600;
  color: #225458;
  border: #225458 1px solid;
}

.mega-menu__link:hover,
.mega-menu__link--active,
.mega-menu__link--active:hover {
  background-color: #225458;
  color: #ffffff;
}

.mega-menu__link--active:hover {
  text-decoration-thickness: 0.2rem;
}

.mega-menu .mega-menu__list--condensed {
  display: flex;
}

.mega-menu__list--condensed .mega-menu__link {
  font-weight: normal;
}
.category-menu-and-products {
  padding: 6rem 6rem 0;
}
.category-menu {
  display: flex;
  gap: 1.6rem;
}
.collection-img img {
  width: 45rem;
  height: 100%;
}
.collection-details {
  display: none;
}
.collection-details.active {
  display: grid;
}
.product-container {
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3.2rem;
  column-gap: 1rem;
}
.group-tag-products {
  display: flex;
}
.mega-menu__product-item {
  margin-bottom: 1.6rem;
}
.mega-menu__product-item a {
  font-size: 1.4rem;
  font-weight: 500;
  transition: all 0.3s ease;
}
.group-tag-image {
  height: 7rem;
  width: 7rem;
  margin-right: 1.6rem;
}
.mega-menu__product-item a:hover {
  color: #225458;
  font-weight: 600;
}
.view-all {
  padding: 3.2rem 0 6rem 0;
}
.view-all a {
  font-weight: 600;
}
.view-all a::after {
  content: '';
  background-image: url(arrow.svg);
  height: 2rem;
  width: 2rem;
  position: absolute;
  margin-left: 1.2rem;
}
.view-all a:hover {
  text-decoration: underline;
}
